/* ====================================== p l a n e t    i n f o r m a t i o n ====================================== */

h2, h3 {
    margin: 0 0 -10px 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #d6d6d6;
}

.linea {
    border-top: 2px solid yellow;
    border-left: 2px solid yellow;
    transform: skewX(-20deg);
}

.information-box {
    border: 2px solid rgba(80, 80, 80, 0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 5px 7px rgba(133, 133, 133, 0.377);
    width: 250px;
    background-color: #000000;
    z-index: 99;
    position: absolute;
    font-size: 13px;
    color: #afafaf;
    text-align: justify;
    font-family: 'Convergence', sans-serif !important;
}

/* .linea, #information-sun, #information-mercury, #information-venus, #information-earth, #information-mars, #information-jupiter, #information-saturn, #information-uranus, #information-neptune {
    display: none;
    position: absolute;
} */

.linea {
    display: none;
}

#information-sun {
    display: none;
    left: 350px;
    top: -170px;
}

#information-mercury {
    display: none;
    left: 380px;
    top: -241px;
}

#information-venus {
    display: none;
    left: 162px;
    top: -236px;
}

#information-earth {
      display: none;
    left: 284px;
    top: -236px;
}

#information-mars {display: none;}

#information-jupiter {display: none;}

#information-saturn {display: none;}

#information-uranus {display: none;}

#information-neptune {display: none;}

/* -------------------------- i n f o r m a t i o n     h o v e r --------------------------*/

/* .sun:hover #information-sun, .mercury:hover #information-mercury {
    display: inline;
} */

/* ··········· s u n ··········· */

/* .sun:hover .linea {
    display: inline;
    width: 100px;
    height: 80px;
    left: 150px;
    top: -45px;
} */

/* ··········· m e r c u r y ··········· */
#planet-mercury .orbit-mercury:hover ~ .linea{
    /* cursor: pointer;
    box-shadow: 5px 5px 5px red; */
    /* display: inline; */
}

/* .sun:hover, .mercury:hover, .venus:hover, .earth:hover, .mars:hover, .jupiter:hover, .saturn:hover, .uranus:hover, .neptune {
    cursor: pointer;
} */