@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100vh;
    perspective: 500;
    color: #ffffff;
    overflow: hidden;
}

.container {
    height: 100%;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.container-solar-system {
    width: 80%;
    height: 70%;
    border: 2px solid yellow;
    margin: auto;
}

.solar-system {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateX(75deg) rotate(0deg);
}

/* ====================================== o r b i t / p l a n e t    s i z e    a n d    c o n f i g ====================================== */

.planet-ddd {
    transform: rotateX(120deg) !important;
}

/* -------------------------- p l a n e t  --------------------------*/

.sun, .mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune {
    border-radius: 50%;
    background-size: 110% !important;
    position: absolute;
}

.sun {
    width: 150px;
    height: 150px;
    background: url(https://lh3.googleusercontent.com/ejWlulqQXV-7yT5g_j-g8ifx8VSmmCOetI6fb4-fcOh3vqhc6sZzItm823C9iNZUvfi5SAnEnDephT87i2tGE56xzjuIK39H-6Cn6HJMSgv5LDUT1YlyNYsag59oWApwsaaDMQdBEKaauTnEP48DWvM5G7Y0CB5eYaReG8XnbB7c1b9VLgMwStQkNsE6AjzHPasLjN8EsOYg8WGuTtKlw0Fc7VE3A8MWiu75LgIMe2vrfuq2mUEhLt5qjsBpLORV7i8-kRHVEKmQJyXJehzUiLRZrSKpHukoUl68L3CKyZEGtTOMmlwh06eRz077Ir0773du2W0Np4ZT9boMsFd5Pm59sp6zpHh3EFqLy-Lovu6113eZWHflAo42LU89VOlF5Gzr0C-O362smj-t7_vxPxEbtGF_XhJq2yoHACLtDXvl-DrYvIoFbCtFnzR0akSXv2Wv6bhYkYS25F37DplAl0CQoNZ5xCv1YE5K2_eX7uIhhJvn0XQvuvuM5I_s8__qexym5gakDyoxNjk6ITdJ4KJ3MKmAYl1Pm4fkCSlbydts2O_a17wURkRJ8LY6Li2R0mJUFjXzOa9bmc9Z6MbtASQXbMJgFdYDM-ADDrFwqveDgxzeVeCe1LnB1tpLy2veX2Ktz8k5q6fTGSTM6HgCWvo_bdVBKzkrNMg2uXulJu5Zg8o6zC0GvlKdb68=s580-no?authuser=0) center no-repeat;
    background-size: 143% !important;
}

.mercury {
    width: 10px;
    height: 10px;
    top: 98px;
    left: -5px;
    background: url(https://lh3.googleusercontent.com/ciQnxTDLnOQSRTdw2xp-z5FYLfxskTvul48UAIxWCx0YlVYlmOrGIs0yZkL_nzqMas_8ZDTXhVFj75Qog1tOPz552jZOWY3wxvZElVud18RMm4hNQqFJ5npmHpAG9UuwLbpLOfkVXyixvXyrmQxY_MqOAIkwjTU4Ba4Mw1TOQw3MsUSATJd8dsLxhfiwxpyOzcBbQB4awSZz2sC1nXpsKZOxuE5m7XAb-V7GRuCxYA_TpjQ3oYf_JY-DpPRl3ZTiBwoRCZcQYPABjIbzaFTywL7MV8L3Nwut3pWpYStwczQS3rIVIRl1hEFXpx8qnOSZq7v-4PIrahUL7481Lk_54k82mneO5nfGqZkZ33p1Jpc901zE4qK8whtLuo06nXpyItFp1hGnzMtsankasEQ-rEP2zD_y9Mc2l5k71-w_gAB9JzHyIrrxxD5eZiSYZNNV12nTeYBJCUXwHPfh-5LWruiNWOpfdMBqxA8hGo64A4pjcuOKjKyIwmdKH5Vs8mfv1l7xl0yxo86sEH9igBEw6Wgx3p8NhfCaIdDn5t_fhoGvAC0ZhQFziolJ2orCZswIQMI9AycDfnK-eYDxvlNXkHJQ9T2weFMfTeAu2Nxo_H3VRv9mwAiY9gae6Psx3RjJXwO-n4q1iu1D8qPoOlZ17WShm8HIfCQjxI012Y5KHuzTt3etg4tJw9VSoD0=s580-no?authuser=0) center no-repeat;
}

.venus {
    width: 21px;
    height: 21px;
    top: 119px;
    left: 239px;
    background: url(https://lh3.googleusercontent.com/tq7ypBXprWQHAqg-qSlmwTeYsd4vwvFWJCgEUMy7uQdvbwKHdAr9aq294s7ZVUVtHPFs6n-Z-042wh0GGT9q7EIsPg0aaWuk3Ey3V-mYXne8O44F7vSv008mU_C7IzXeyWEXcLPOdyLvAOLoxdMqzkIrqYIpOpdR5869MH0aRCmCqjGIcxOke9a4muU8EzHoN7X1gNs4NJtAy2AQpnUch41fXhcKChuoFvIWrz-ySFqx0RVU-lMvdF30MJVsDnRp0vf91fib9DPBbmuVeTDB4fOP5NQweT83TP5GdeCXwtJwkVORWCiSTDj676Ovt6QzgkcHm3cyW8v5ukBxSRC1HZTr2pdTP_NLgn5c0_4KGjiJmpH_a2SwPCpZp2_g-TEviKqVyBJfOZLcAZne1VYtXTr7GQy6o70rtBRsPH-fBhxSgbxVpIxl6zaYcCZbDTYTd-AZ9x_js2VGM4Zg1i78dR7xfZnIn0K9sHhHW9sF0TdW3_G7kTCk-jr7zlFh4pKvRcQk8FA_uS0eLXXL6yXXb0Ogj3EEO4tMVvCp-nNMbHfMG2woDidDuaifdv-mvk0cqPmHMOCd_-Mx8W_N2zIiW8jWAWUjs228jhxl09EQ7dSvqQyyemFv9eMrqKStLgfKXH9hBrOqTOyxU3zFa7N8MPGbfPEdX8_uB5iJjpfQD7PFUiyqgZ9TpHK1UwM=s580-no?authuser=0) center no-repeat;
}

.earth {
    width: 23px;
    height: 23px;
    top: 338px;
    left: 165px;
    background: url(https://lh3.googleusercontent.com/pw/ACtC-3eEc4Dz_5C8kD5cQ0YtzFZs0NdYzin0u8tnzVI8H75nZx9dG4_p5wT0X7usXQwO9BhnagahkpnBWeXcyl_PBdrgng6WRQwdQCht5smziLkzu2o5H4-M6TNt61xnz0x06gwShd7VWBgS8NbvcgNF9uT-cNl1pdNnhXcG-3ItsOfozulj0R22wbH_XL2JUcgFqWbK6KenqT3b9l1Sp289gT8h8OBE8OARz9PuAJxorSERikSRR1FyR1w-v3XBTfKoacH1EJe0WQh8Spycd5Qf0kpxCC-E5_wNe8j515P7Cgt82qqtXAgYc8mmko8RNpCgvhidWGC6XVFfzUgJXLdmzebwmDGXkNzzkqmDkOS9DXbrwscijNwzHiRKHTLCQPEtjqeYwfEUqco11N2_d5Yrx_BMXn-lPZkFBYV4eO7fEft4zCOQvKsw7sgjuYjkh76bWX1ikAf3P-j74Y7iE4eMeykJs1DDJ2KNSsiUis9xXW59L1zJQ-wDHkIEdilVghQD9ff81JcPC0J-0d2auOg-SO8Brx5PKYAoPdbUef1GpqEC3DbgeetnkOJEEWYBHG6ZlBFUe3lswHu2qPsQcYWvgi-fO54FuM34B_-95b-LfNkjTCDAw8zlSLVczuwDKueLHrjZdWPVT3hGTrRuzsr3Du9x5A1Hy_4YTUbGW87qnvWsngPZEFEBhVbA-rFCTop-uhuv7jzOF5cOnJhJKQ=s580-no?authuser=0&authuser=0) center no-repeat;
}

.mars {
    width: 13px;
    height: 13px;
    top: 49px;
    left: 65px;
    background: url(https://lh3.googleusercontent.com/miVqeJdl-UJ6WYFznaeV2v5o5mwYmkx_SSIwXw_7xVCJf9emKkdqTFcf-C_QvhYIyDRHJvQ98DW9lXwFBCOaIUFUK8bF1ihkpJ4LPbwhXIIDBw1JOAFr-bM7D6GeLZDVhAH1lpTPUm2-8Wn_xa9UAxnrRkPq3--OoC-fnqBzh1TjLenNqltE5GcQlm0bAHyTCgSfxm-8biLXs81WGPiS1T3d9Hiq7ZvYnLPgtE0p6-g8hif3WeKgGu-LyX9yK8ZWqqXubKxtUs7TqnW51G7rCN21mcya5merbBA-Pe7MvtvSNWIXQrjTnTMgnlMEVdnbSXAMlzrKY9DXcnzwWoz5rB3_EW0CID5zTg3axTRkfMSfWNPUZZAc28a9CPCx1rr5ZMTh4y19ndCGYsh8-Q8YGL21IhjcYHiXx_fFiCUqnRq18lmLPUw61kupUY9yUfHwCiiN76wZC2MfFSpLE_B-FjPc5BO5DR65_mm8I2P8t_1P1nzVqeBuir9yW9AJCZwxxWEqqffuWQ9K9T6rhE3jVp3hZ8m0BhagJNkplJXM3PfWIG6i9PqOwbruS3ylHiBpb1jIUtn1hTuVJcVK4fjNiyFESjJ5nszMM_B21LOpZ07kzOLePm5c0Wuo4sqqnVareTLmPCSL2WC9bC2-C3iwD19b7ktsEXnPrasMcda_A9R1lh01eAD1KMLo27Q=s580-no?authuser=0) center no-repeat;
}

.jupiter {
    width: 65px;
    height: 65px;
    top: 80px;
    left: 455px;
    background: url(https://lh3.googleusercontent.com/EIIf5tcH0bUND04Fc9cUGasWDtqwGw0dSPvbPo0JnRUsqiI-RX4EQ8FPxSDYAQtJ1wQqDXBGdvunfo2-75sFgK7dNOtIhnZQo_IKGO-mjYh-4YB8cQFGpisrMYf1tOBwAtt5buKoEuZ9YKmU7cxQgsOUdoE2L7n5GxbfXC7h5baEjTCYDZoCYmtftNOkORrYdNJH0c7gH9PtQBJUKDD_ItddSygJNXx3ek3CAIy_LE1pXZEOGS5UGiBd0qhN4WEPeRktxsd7MnavFY5Y6WZAlWM0O3ToohuwmoTcm5wXgpH8Q1aLQqeJ3x9YbHMLBUhV5F6iYxwaW8gGwE4YMqrZEJjh31O2gL_OL5rACgkuNS9OJ45P1W3iPiuLSkAdXrXlxvg_ZqLNCTy5HZ2elLkl61QPyQj6T5Xrq7BEpxFXHL_qX115_hQml0lv0SqtOOXRtsNB6RZO88NEVCVl57IQDXKCsppFZWZy3JHdVnj2J31BNDUWUWGX5THPo4ZS6GRDdWfdJiqCh_84Lwn97gihIx-YvBPEBSPf2Q9sGBL565bReG8Wkg8hPT4Zaf-XbuN3CF1MfWhAeU33_GxlkX3ka7v0U6fvsJxuwLbWrom-5dxT3P5IxGAzbcrIMcfdbfSEaiKHNx-a7QWW4OP_j47MAbTN9w593w70pXpbhleSdtRwH7L0ojYKazD9hEY=s580-no?authuser=0) center no-repeat;
}

.saturn {
    width: 60px;
    height: 60px;
    top: -20px;
    left: 320px;
    background: url(https://lh3.googleusercontent.com/wplMbmMWcTMVkY16S-9sj4IUHMghtsbNJjiPxmwkxFwsB0UaKtICT8TnWpnqAotft84vs-oDv_vIIhdhwDSSsusVrNWTKNitcAW5o7ljI8JTgqBw0ctNQBdlkmbDrFjah6xHMEkt2Hmw1KMoEFEDYl0pAK6ktHzJYOUI9CA9LkdhwuycCjlz-IOS7oBNho27_kxvEns_EcFQMSaSBXIgAxkCV9rHKa3BkG8juW9ckMEqDIFQD9njw5Lk2vzxM6DllR2uO-9LYDh9iNK9mWizET6oEI5wOOnxXf0nmmV7cVQKVvdQNswd0vHookEMRiZDKcH0x97jsqjDSQL8v-3zRuZlxGkc0Ql6xhJKNCtuj3Vy3ldXOmBU82IQpNM1h1NM214II9XEzV0Q8FKtExS7CmOJ7Jgl1jjRNh8UTAwOP2mcpDVPiumd43lQueeqHdkeqGth1Dc0kYH3v8-hy0jT66GsYgV_GIMmnfbMy8BOTD-S-CxaPjJA2AwEj__LKiEJt6Mh0R-bDf_UxHiYCV5nbLA43iJikkSkLxL-LJWz5TiQ1iZX6vp3r8uJF7sUFAB4GBCfyA1DjVVymxPlLUQoALPMnGSBTeZYdR-BhpgVinXQB0AX_b0JjzOZvHNbF20pPnnnpF4rN6cCLSN-vV8NL3rvhPr5_MUs-qzUDFOMOaNUpr-WY1Z1DZvRztg=s580-no?authuser=0) center no-repeat;
    background-size: 131% !important;
}

.uranus {
    width: 35px;
    height: 35px;
    top: 650px;
    left: 65px;
    background: url(https://lh3.googleusercontent.com/duJM0ZgzsxEs2Z7bPQJlRvOcivUCAw6C2bAd7K2g3hb_pazLQaVRifhVqLCYVYuo7kfpv7XbWELfxUl3QFm0hF7D5QLsldrf_5zKW7pHkqeMdnx2k1VweSfCuTwKmRoFh3HetOVPEfZ0669lYNsdIQFEfyQ8VBJJntvkefPLpdJm-5XK43dWBb_DqcJaZGj7ZULR9Ur9bHeV1D85vEjie0TQRcfivgPe3Bl2ulYeOsy_IUV_OWjlniO81UbOqdVj8ykqwy8VlcktvwCfUcpogvjp4pldUg1oWGbqaCeV6KOXd9gYEIrvGafPbL9B6OT2G4qjxxjSJlyhs9O_Cl4u5cbP_tglCG8M1Z6kUYjns1wpcaf1Hm65Jo233g8tbxZ6Ft5hPgPjMTxxlelKdoJ0gAeS6WoHEqsLZ30lzvhPBMsOGDiE6ZLwWdlbTP6KbZB5DBYmRlph3cuqOlkVOGTMmte524UYYk203bwVGPesuf8wJRdcwKP9U1xI4SKnuGYmD1eEcZoyfwLZF74vz55GrL1pOaQM2tI1_faTcjiimKkIEEvWkbDf7Ph9UQqfWwEIf38f8s-_C-ylR88w3ypR3I_sYQ9BSEMVLNA0pS2-_-rZ-CBh5by0w_j2NmS4aKAk8YJbG6XcLbUAqpGmL25DRyQfQFSFK7f1A0QO8-Du8H65sxLE-fRzlDvkVng=w488-h476-no?authuser=0) center no-repeat;
}

.neptune {
    width: 31.5px;
    height: 31.5px;
    top: 694px;
    left: 876px;
    background: url(https://lh3.googleusercontent.com/FE0-WmMcIOy_sh18E2h-lcYQee0rS3d90mmRKc6-izjF5mMBF_LjY9TF-2RxTkRIgAWtVuoRpOnEX-G9hSjh8B87R4BuQd0kzFayWn0V7RicPuH0Jbm0G_4ivHmBbB6N-S1PB1C7co-7zqGSFDxzW3SjZTDunCOM6fWAXiPCIX1Wy9vGDooN2obsJdCtYfj27Ga4Mjd3125GafDkaAPyHGOxdq77DYZNPJs8aAfdt5oSbmVUP8jmerilr7gchXoRxHtDsCC8Kj-X0Xc-qdwNp3fVCHTmkTMdC9GQ34r5HFuCIKL-9r50Gx8aBa71mhOe0Akb8Iq7F6EysFHDfVqTfsFpz0XKouPlF19ima13EgQKu4G-vWvwQItA0e0a_rvVQriEy3uba_vKy195b_AeNudQ_2srCHtJdxx02tV0qGQxg5BxeEVUvdnouY4RWVqgVAE4bx9m67-uZ5z7nY13oxAjLEgzrqMJujZnaky0C6XEATIup12rIbKWtSicO5dq3NsrNdJaKLblWvcLn5I8Se5NmprnINVS3Q6dhaoGGzIuf41CeLalIyHDHDtjCPe_48oWAvlHG5thIBtJLUx_jqPdoteh1nP14RSM67DFE7Bnq1oLuT-5Ae2Noc3lNyXyvbS7tRnHCOzjCtvtsr6-th_ECUeJ9-P_7RvkkIyJgfuLpe9PoG2UQdPxVdg=s580-no?authuser=0) center no-repeat;
}

/* -------------------------- o r b i t  --------------------------*/

.orbit-mercury, .orbit-venus, .orbit-earth, .orbit-mars, .orbit-jupiter, .orbit-saturn, .orbit-uranus, .orbit-neptune {
    border: 2px solid gray;
    border-radius: 50%;
    transform-style: preserve-3d;
    position: absolute;
    z-index: -99;
}

.orbit-mercury {
    width: 200px;
    height: 200px;
}

.orbit-venus {
    width: 250px;
    height: 250px;
}

.orbit-earth {
    width: 350px;
    height: 350px;
}

.orbit-mars {
    width: 425px;
    height: 425px;
}

.orbit-jupiter {
    width: 535px;
    height: 535px;
}

.orbit-saturn {
    width: 695px;
    height: 695px;
}

.orbit-uranus {
    width: 830px;
    height: 830px;
}

.orbit-neptune {
    width: 950px;
    height: 950px;
}

/* ====================================== k e y    f r a m e s ====================================== */

/* -------------------------- a n i m a t i o n --------------------------*/

.orbit-mercury, .orbit-venus, .orbit-earth, .orbit-mars, .orbit-jupiter, .orbit-saturn, .orbit-uranus, .orbit-neptune {
    animation: orb-slide infinite linear;
}

.sun, .mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune, .orb-mercury, .orb-venus, .orb-earth, .orb-mars, .orb-jupiter, .orb-saturn, .orb-uranus, .orb-neptune {
    animation: planet-slide infinite linear;
}

/* -------------------------- d u r a t i o n --------------------------*/

.mercury, .orbit-mercury {
    animation-duration: 6s;
}

.venus, .orbit-venus {
    animation-duration: 5s;
}

.earth, .orbit-earth {
    animation-duration: 10s;
}

.mars, .orbit-mars {
    animation-duration: 20s;
}

.jupiter, .orbit-jupiter {
    animation-duration: 30s;
}

.saturn, .orbit-saturn {
    animation-duration: 40s;
}

.uranus, .orbit-uranus {
    animation-duration: 50s;
}

.neptune, .orbit-neptune {
    animation-duration: 60s;
}

@keyframes orb-slide {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

@keyframes planet-slide {
    from {
        transform: rotateX(-90deg) rotateY(360deg);
    }
    to {
        transform: rotateX(-90deg) rotateY(0deg);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    font-family: 'Orbitron';
    word-spacing: 18px;
    letter-spacing: 9px;
    font-size: 10px;
    padding: 5px 0px;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
}